
$breakpoint-desktop: 992px;
$breakpoint-tablet: 768px;

:root {
  --desktop-max-width: 740px;
  --tablet-max-width: 690px;
  --mobile-max-width: 327px;

  --container-padding: 24px;

  --max-width: var(--mobile-max-width);
}

.container {
  max-width: calc(var(--max-width) + calc(var(--container-padding) * 2));
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
  margin: auto;

  @media (min-width: 768px) {
    --container-padding: 40px;
    --max-width: 690px;
  }

  @media (min-width: 992px) {
    --container-padding: 0px;
    --max-width: 740px;
  }
}
