.wrapper {
  position: relative;
}

.input {
  padding: 1em 1em 1em 24px;
  width: 100%;

  font-size: clamp(1rem, 1vw + 0.8rem, 1.25rem);
  font-weight: 700;
  font-family: inherit;
  line-height: 24px;

  border-radius: 16px;
  color: var(--text-input-color);
  background-color: var(--text-input-bg-color);
  outline: none;
  border: none;
}

.input::placeholder {
  opacity: 0.25;
}

.input:focus {
  outline: 1px solid var(--color-blue);
}

.invalid {
  outline: 1px solid var(--color-red);
}

.icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.error {
  min-height: 24px;
  color: var(--color-red);
  margin-top: 8px;
  margin-bottom: 8px;
}
