.wrapper {
    display: flex;
    align-items: center;

    padding-top: clamp(1.5rem, 7.1vw - 0.2rem, 3.25rem);
    padding-bottom: clamp(1.5rem, 7.1vw - 0.2rem, 3.25rem);
}

.fontselect {
    margin-left: auto;
    margin-right: 53px;
}