.wrapper {
    position: relative;
}

.pointerWrapper {
    display: flex;
    gap: 18px;
    cursor: pointer;
}

.optionslist {
    position: absolute;
    top: 100%;
    z-index: 10;

    display: flex;
    flex-direction: column;
    gap: 16px;

    min-width: 180px;
    width: fit-content;
    padding: 24px;

    list-style: none;
    background-color: var(--select-optionslist-bg);
    border-radius: 16px;
}

.optionsitem {
    cursor: pointer;
    width: fit-content;

    &:hover {
        color: var(--link-hover);
    }
}